{% extends "base.html" %}
{% block content %}
<div class="ui large header">face</div>
{% if text %}
  <img src="{{ url_for('static', filename='build/'+text) }}" />
{% endif %}


    <input id="testFile" type="file">

    <img id="testImg" style="max-height: 300px; height: 8em; min-width:8em;">

    <textarea id="testArea" style="display: block; width: 100%;height: 30em;"></textarea>
    <input id="btnTest" type="button" value="提交base" />
    <script>


        $("#testFile").change(function () {
            run(this, function (data) {
                $('#testImg').attr('src', data);
                $('#testArea').val(data);
            });
        });

        $("#btnTest").click(function () {
          $.ajax({
              type: 'POST',
              url: '/api/face/findfaces',
              data: {"img_base64": $("#testArea").val()}, // or JSON.stringify ({name: 'jonas'}),
              success: function(data) { alert('success: ' + data.Data); },
              error: function (data) {
                  console.log(data);
              },
              contentType: "application/json",
              dataType: 'json'
          });
            /*
            $.ajax({
                url: "/api/face/findfaces",
                type: "post",
                dataType: "json",
                data: {
                    "img_base64": $("#testArea").val(),
                },
                async: false,
                success: function (result) {
                    if (result.Code == 200) {
                        alert(result.Data);
                    } else {

                    }

                }
            });*/
        });

        function run(input_file, get_data) {
            /*input_file：文件按钮对象*/
            /*get_data: 转换成功后执行的方法*/
            if (typeof (FileReader) === 'undefined') {
                alert("抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64，请使用现代浏览器操作！");
            } else {
                try {
                    /*图片转Base64 核心代码*/
                    var file = input_file.files[0];
                    //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
                    if (!/image\/\w+/.test(file.type)) {
                        alert("请确保文件为图像类型");
                        return false;
                    }
                    var reader = new FileReader();
                    reader.onload = function () {
                        get_data(this.result);
                    }
                    reader.readAsDataURL(file);
                } catch (e) {
                    alert('图片转Base64出错啦！' + e.toString())
                }
            }
        }
    </script>
{% endblock %}
