{% extends "base.html" %}
{% block content %}
<div class="ui large header">face</div>
{% if text %}
  <img src="{{ url_for('static', filename='build/'+text) }}" />
{% endif %}


    <input id="select_pic" type="file">
    faces:<span id="faces"></span>
    <img id="in_img" style="max-height: 300px; height: 8em; min-width:8em;">
    <img id="out_img" style="max-height: 300px; height: 8em; min-width:8em;">
    <input id="post" type="button" value="提交base" />
    <script>
        var base64="";

        $("#select_pic").change(function () {
            run(this, function (data) {
                $('#in_img').attr('src', data);
                base64=data;
            });
        });

        $("#post").click(function () {

            $.ajax({
                url: "/api/face/findfaces",
                type: "post",
                dataType: "json",
                data: {
                    "img_base64": base64,
                },
                async: true,
                success: function (result) {
                  //
                  $('#out_img').attr('src', result.base64);
                  $('#faces').text(result.faces)
                    console.log('msg:');
                    console.dir(result);
                },
                error: function (result) {
                    console.dir(result);
                }
            });
        });

        function run(input_file, get_data) {
            /*input_file：文件按钮对象*/
            /*get_data: 转换成功后执行的方法*/
            if (typeof (FileReader) === 'undefined') {
                alert("抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64，请使用现代浏览器操作！");
            } else {
                try {
                    /*图片转Base64 核心代码*/
                    var file = input_file.files[0];
                    //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
                    if (!/image\/\w+/.test(file.type)) {
                        alert("请确保文件为图像类型");
                        return false;
                    }
                    var reader = new FileReader();
                    reader.onload = function () {
                        get_data(this.result);
                    }
                    reader.readAsDataURL(file);
                } catch (e) {
                    alert('图片转Base64出错啦！' + e.toString())
                }
            }
        }
    </script>
{% endblock %}
