{% extends "base.html" %}
{% block content %}
<br>
<h1 class="ui header">Face 对比</h1>
<div class="ui small header">是否是同一个人：<span id="is_same">待检测</span></div>
{% if text %}
  <img src="{{ url_for('static', filename='build/'+text) }}" />
{% endif %}

<style>
body{
  text-align: center;
}
h1{
  margin-top: 20px;
}
#loading{
  font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    margin: 0;
    display: none;
}
img{
  max-height:100%;
  max-width:45%;
  float: left;
}
input{
  width: 50%;
}
</style>

<div id="loading" class="ui segment">
  <div class="ui active dimmer">
  <div class="ui text loader">正在对比，请稍后。。。</div>
  </div>
  <p></p>
</div>
    <div class="ui action input">
      <input id="select_pic_a" type="file" >
      <input id="select_pic_b" type="file" >
    </div>

    <p></p>
    <button id="post" class="ui teal right labeled icon button">
        <i class="checkmark icon"></i>对比
    </button>

    <hr>
    <img id="img_a">
    <img id="img_b">

  <div id="alert_msg" class="ui modal">
    <div class="header">信息提示</div>
    <div class="content">
      <p id="message"></p>
    </div>
    <div class="actions">
      <div class="ui cancel button">好的</div>
    </div>
  </div>
    <script>
        var base64_a="";
        var base64_b="";

        $("#select_pic_a").change(function () {
            run(this, function (data) {
                $('#img_a').attr('src', data);
                base64_a=data;
                $('#is_same').text('待检测');
            });
        });
        $("#select_pic_b").change(function () {
            run(this, function (data) {
                $('#img_b').attr('src', data);
                base64_b=data;
                $('#is_same').text('待检测');
            });
        });

        $("#post").click(function () {
            $('#loading').show();
            $.ajax({
                url: "/api/face/recognize_faces",
                type: "post",
                dataType: "json",
                data: {
                    "img_base64_a": base64_a,
                    "img_base64_b": base64_b,
                },
                async: true,
                success: function (result) {
                  //
                  if(result.err=="yes"){
                    $('#is_same').text(result.msg);
                    $('#message').text(result.msg);
                  }
                  if(result.err=="no"){
                    if(result.is_same=="yes"){
                        $('#is_same').text('同一个人');
                        $('#message').text('同一个人');
                    }
                    if(result.is_same=="no"){
                        $('#is_same').text('不是同一个人');
                        $('#message').text('不是同一个人');
                    }
                  }

                  $('.modal').modal('show')

                  $('#loading').hide();
                    console.log('msg:');
                    console.dir(result);
                },
                error: function (result) {
                    console.dir(result);
                }
            });
        });

        function run(input_file, get_data) {
            /*input_file：文件按钮对象*/
            /*get_data: 转换成功后执行的方法*/
            if (typeof (FileReader) === 'undefined') {
                $('#message').text('抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64，请使用现代浏览器操作！');
                $('.modal').modal('show')
            } else {
                try {
                    /*图片转Base64 核心代码*/
                    var file = input_file.files[0];
                    //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
                    if (!/image\/\w+/.test(file.type)) {
                        $('#message').text('请确保文件为图像类型');
                        $('.modal').modal('show')
                        return false;
                    }
                    var reader = new FileReader();
                    reader.onload = function () {
                        get_data(this.result);
                    }
                    reader.readAsDataURL(file);
                } catch (e) {
                    $('#message').text('图片转Base64出错啦！');
                    $('.modal').modal('show')
                }
            }
        }
    </script>
{% endblock %}
